<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />



    <application
        android:hardwareAccelerated="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyKutupApp"
        tools:targetApi="33">

<!--        <activity-->
<!--            android:hardwareAccelerated="false"-->
<!--            android:name=".SoundActivity"-->
<!--            android:exported="false"-->
<!--            android:theme="@style/Theme.Mysayac"/>-->
<!--        <activity-->
<!--            android:hardwareAccelerated="false"-->
<!--            android:name=".NasheedActivity"-->
<!--            android:exported="false"-->
<!--            android:theme="@style/Theme.Mysayac"/>-->

        <activity
            android:hardwareAccelerated="false"
            android:name=".RecyclerviewKonular"
            android:exported="false"
            android:theme="@style/Theme.MaterialComponents.DayNight.DarkActionBar"/>
        <activity
            android:hardwareAccelerated="false"
            android:name=".ActivityZalah"
            android:exported="false"
            android:theme="@style/Theme.Mysayac" />
        <activity
            android:hardwareAccelerated="false"
            android:name=".sayac"
            android:exported="true"
            android:theme="@style/Theme.Mysayac">
        </activity>
<!--        <activity-->
<!--            android:hardwareAccelerated="false"-->
<!--            android:name=".Splashscreen"-->
<!--            android:exported="true">-->

<!--        </activity>-->
        <activity
            android:hardwareAccelerated="true"
            android:name=".PdfReader"
            android:exported="true" />
        <activity
            android:hardwareAccelerated="false"
            android:name=".BookDetails"
            android:exported="false" />
        <activity
            android:hardwareAccelerated="false"
            android:name=".MainActivity"
            android:exported="true" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
        </activity>
        <activity
            android:hardwareAccelerated="true"
            android:name=".MainActivityAlarm"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:hardwareAccelerated="false"
            android:name=".AddReminderActivity"
            android:label="@string/title_activity_add_reminder"
            android:parentActivityName=".MainActivityAlarm"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <provider
            android:name=".data.AlarmReminderProvider"
            android:authorities="com.mofidx.mykutupapp"
            android:exported="false" />

        <service
            android:name=".reminder.ReminderAlarmService"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/AdmobId" />
    </application>

</manifest>